html,
body {
  background-color: white;
}

blockquote {
  color: #00000090 !important;
  border-left: 0.32813rem solid #00000090 !important;
}

#header-title {
  color: #0C0C0C;
}

#header-inside-post {
  color: #0C0C0C !important
}

#post-container a,
#pagination a {
  color: #0C0C0C !important;
}

h2, h3, h4 {
  color: #0C0C0C !important;
  margin-top: 2rem;
}