html,
body {
  background-color: #36454F;
}

blockquote {
  color: #fff !important;
  border-left: 0.32813rem solid #fff !important;
}

#header-title {
  color: #fff;
}

#header-inside-post {
  color: #F89F48 !important
}

#post-container a,
#pagination a {
  color: #F89F48 !important
}